.profile-page{
  width:100;
  margin:auto;
  margin-top: 80px;
  text-align: center ;
}
/* UserProfile.css */

.user-profile-container {
  background-color: rgb(192, 186, 186);
  color: white;
  width: 50%;
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding: 40px; /* Adjust the padding as needed */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-profile-container {
  text-align: center;
}

.user-profile-container h1 {
  padding-bottom: 40px;
}

.user-profile-container img {
  border-radius: 50%;
  max-width: 250px; 
  height: auto;
  margin-bottom: 20px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-item {
  margin: 10px; 
}

.book-image {
  width: 150px; /* Adjust image width as needed */
  height: auto;
  border-radius: 8px; /* Adjust the border radius as needed */
}
