
.home-container {
    background-image: url('/src/assets/books.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set height to cover the entire viewport */
    width:200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-blend-mode: hue;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* add stars componenet */